name: "CI: Build & Test"

on:
  pull_request:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: "Build & Test"
    runs-on: ubuntu-slim
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version-file: "pyproject.toml"

      - name: Install project
        run: |
          uv sync --locked --all-extras --dev

      - name: Run tests
        run: |
          uv run --locked pytest -q

      - name: Build project
        run: |
          uv run --locked pyright
          uv run --locked ruff check
          uv run --locked ruff format
          uv build --locked
